<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/DataBase</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">@Designer1980</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="edu.epam.fop.cascadetypes.entity.Author"/>
        <mapping class="edu.epam.fop.cascadetypes.entity.Book"/>
    </session-factory>
</hibernate-configuration>